<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand animated bounce " routerLink="/">TechBlog</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="navbar-collapse collapse animated bounceInLeft" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto">
            <div >
                <li class="nav-item active" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link " routerLink="/">Home <span class="sr-only">(current)</span></a>
                </li>
            </div>
            <div >
                <li class="nav-item active" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link  " routerLink="/about">About</a>
                </li>
            </div>
            <div >
                <li class="nav-item active" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link " routerLink="/contact">Developer</a>
                </li>
            </div>
            <div *ngIf="adminFlag">
                <li class="nav-item active" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link " routerLink="/posts">Source Code</a>
                </li>
            </div>
           
            <div >
                <li class="nav-item dropdown dmenu active" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link  dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Get News
                    </a>
                    <div class="dropdown-menu sm-menu">
                        <a class="dropdown-item" routerLink="/technology">Technology</a>
                        <a class="dropdown-item" routerLink="/science">Science</a>
                        <a class="dropdown-item" routerLink="/entertainment">Entertainment</a>
                        <a class="dropdown-item" routerLink="/health">Health</a>
                        <a class="dropdown-item" routerLink="/sports">Sports</a>
                        <a class="dropdown-item" routerLink="/bitcoin">Bitcoin</a>
                    </div>
                </li>
            </div>
        </ul>
        
    </div>
</nav>