<div class="container " style="margin-top: 100px">
    
    
    <div class="container">
        <div class="card-columns "> 
            <div class="card  animated bounceInLeft" >
                <a href="/technology">
                    <img class="card-img-top"
                        src="../../assets/technology.png"
                        alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title text-center animated flipInX infinite">Technology</h2>
                    </div>
                </a>
            </div>
            <div class="card animated bounceInRight">
                <a href="/science">
                    <img class="card-img-top"
                        src="../../assets/sceince.png"
                        alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title text-center animated flipInX infinite ">Sceince</h2>
                    </div>
                </a>
            </div>
            <div class="card animated bounceInLeft">
                <a href="/entertainment">
                    <img class="card-img-top"
                        src="../../assets/entertainment.png"
                        alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title text-center animated flipInX infinite">Entertainment</h2>
                    </div>
                </a>
            </div>
            <div class="card animated bounceInRight">
                <a href="/health">
                    <img class="card-img-top"
                        src="../../assets/health.png"
                        alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title text-center animated flipInX infinite">Health</h2>
                        
                    </div>
                </a>
            </div>
            <div class="card animated bounceInRight">
                <a href="/sports">
                    <img class="card-img-top"
                        src="../../assets/sports.png"
                        alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title text-center animated flipInX infinite">Sports</h2>
                    </div>
                </a>
            </div>
            <div class="card animated bounceInLeft">
                <a href="/bitcoin">
                    <img class="card-img-top"
                        src="../../assets/bitcoin.png"
                        alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title text-center animated flipInX infinite">Bitcoin</h2>
                     </div>
                </a>
            </div>
            
        </div>
    </div>
</div>
    
